# Python Virtual Environment
venv/

# Python Byte-compiled / Cache Files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller Build / Distribution Folders
build/
dist/

# Local Data/Config 
settings.json

# MS Dev Tunnels
devtunnel.exe